.share-buttons img {
    padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}

#emerald {
  padding: 10% 0 0 2%;
}

@media (max-width: 600px) {
    #emerald {
      padding: 30% 0 0 25%;
    }
}

#ontop {
    position: fixed;
    z-index: 100;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#home {
    margin: 35% 0 0 5%;
    color: black;
    text-align: center;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.body {
    font-size: 18px;
}

#elle {
    margin: 5% 0 5% 5%;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#title {
    font-size: 700%;
    margin: 5% 0 5% 12%;
    line-height: 100%;
}

@media (max-width: 600px) {
    #title {
      margin: 10% 0 10% 12%;
      line-height: 85%;
    }

}

.images {
    width: 100%;
}

.cutouts {
    -webkit-filter: brightness(50%);
}

.cutouts:hover {
    -webkit-filter: brightness(100%);
}

@media (max-width: 600px) {
    .cutouts {
        width: 100%;
    }
}

.cutouts {
    position: absolute;
    margin: 5% 0 5% 0;
}

#img1 {
    z-index: 1;
    margin-left: 15%;
}

#img2 {
    z-index: 2;
    margin-left: 35%;
}

#img3 {
    z-index: 3;
    margin-left: 55%;
}

@media (max-width: 600px) {
    .story {
      margin: 65% 0 0 0;
    } 
}

.buttons {
    margin: 0 0 0 23.5%;
}

.btn {
    margin: 0 0 0 5%;
}

.sho {
    display: none;
}

.bucket {
    float: left;
    margin: 0 0 0 13%;
    height: ;
}


