.share-buttons img {
    padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}
#ontop {
    position: fixed;
    z-index: 100;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

#title {
	font-size: 800%;
	margin: 3% 0 5% 5%;
}

.cutouts {
	margin: 5% 0 5% 0;
}
