.share-buttons img {
    padding-left: 15%;
    padding-top: 13%;
    width: 50%;
    float: left;
    z-index: 100;
    position: relative;
}

@media (max-width: 990px) {
    .share-buttons img {
        width: 38%;
    }
}    

#emerald {
  padding: 10% 0 0 2%;
}

@media (max-width: 600px) {
    #emerald {
      padding: 30% 0 0 25%;
    }
}

#ontop {
    position: fixed;
    z-index: 100;
    width: 102.3%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#home {
    margin: 35% 0 0 5%;
    color: black;
    text-align: center;
    background-color: white;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.body {
    font-size: 18px;
    margin: 15% 0 5% 4%;
}

#elle {
    margin: 5% 0 5% 5%;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

#title {
    font-size: 700%;
    margin: 5% 0 5% 12%;
    line-height: 100%;
}

.btn:focus {
    outline: none !important;
}

@media (max-width: 600px) {
    #title {
      margin: 25% 0 10% 10%;
      line-height: 85%;
      font-size: 80px;
    }

}

.time {
    text-align: center;
}

.time p {
    font-size: 12px;
}

.cutouts {
    -webkit-filter: brightness(50%);
    float: left;
    margin: 0 0 5% 4.5%;
    text-align: center;
}

.cutouts:hover {
    -webkit-filter: brightness(100%);
}

.btn {
    margin: 5% 0 0 11.5%;
}

.buttons {
    margin: 0 0 3.2% 0;
}

.sho {
    display: none;
    text-align: center;
    font-size: 24px;
}

.bucket {
    float: left;
    padding: 6.5%;
    width: 33.33%;
    height: 550px;
}

.cap {
    font-size: 18px;
}

.cred {
    display: inline-block;
    margin: 0 0 0 35%;
}

@media (max-width: 600px) {
    .cred {
        margin: 0 0 0 5%;
    }

    .bucket {
        padding: 0 0 0 6%;
        height: 350px;
        float: left;
    }

    #one, #two {
        padding: 0 0 0 0; 
    }

    .time p {
        font-size: 10px;
    }

    .sho {
        font-size: 12px;
    }

    .cap {
        margin: 0 0 0 2%;
    }

    #elle {
        margin: 15% 0 10% 1.5%;
    }

    .body {
        margin: 13% 0 0 1.5%;
    }

}  

.slide {
    height: 650px;
}

a {
    text-decoration: none !important; 
}

a:hover {
    color: black !important;
}

